src/main/resources/wsdl/Service_schema1.xsd

<!--Generated by the JavaTM Architecture for XML Binding(JAXB) Reference Implementation, (build IBM 2.2.10-06/29/2016 1:04:51 PMforeman-) 
See <a href="http://java.sun.com/xml/jaxb">http://java.sun.com/xml/jaxb</a>-->
<xs:schema version="1.0" targetNamespace="http://services.service.brrd.com/" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://services.service.brrd.com/">
   <xs:complexType name="movimientosPrestamoRequest">
      <xs:complexContent>
         <xs:extension base="tns:requestHeader">
            <xs:sequence>
               <xs:element name="cantidad" type="xs:int" minOccurs="0"/>
               <xs:element name="direccion" type="xs:string" minOccurs="0"/>
               <xs:element name="fechaFinal" type="xs:dateTime" minOccurs="0"/>
               <xs:element name="fechaInicial" type="xs:dateTime" minOccurs="0"/>
               <xs:element name="montoFinal" type="xs:double" minOccurs="0"/>
               <xs:element name="montoInicial" type="xs:double" minOccurs="0"/>
               <xs:element name="numDoc" type="xs:string" minOccurs="0"/>
               <xs:element name="producto" type="xs:string" minOccurs="0"/>
               <xs:element name="record" type="xs:int" minOccurs="0"/>
               <xs:element name="tipo" type="xs:string" minOccurs="0"/>
            </xs:sequence>
         </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="requestHeader">
      <xs:sequence>
         <xs:element name="channel" type="xs:string" minOccurs="0"/>
         <xs:element name="date" type="xs:string" minOccurs="0"/>
         <xs:element name="operationName" type="xs:string" minOccurs="0"/>
         <xs:element name="terminal" type="xs:string" minOccurs="0"/>
         <xs:element name="user" type="xs:string" minOccurs="0"/>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="serviceResponse">
      <xs:complexContent>
         <xs:extension base="tns:responseHeader">
            <xs:sequence/>
         </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="responseHeader">
      <xs:sequence>
         <xs:element name="channel" type="xs:string" minOccurs="0"/>
         <xs:element name="date" type="xs:string" minOccurs="0"/>
         <xs:element name="errorCode" type="xs:string" minOccurs="0"/>
         <xs:element name="errorMessage" type="xs:string" minOccurs="0"/>
         <xs:element name="errorType" type="xs:string" minOccurs="0"/>
         <xs:element name="operationName" type="xs:string" minOccurs="0"/>
         <xs:element name="terminal" type="xs:string" minOccurs="0"/>
         <xs:element name="user" type="xs:string" minOccurs="0"/>
         <xs:element name="XMLReresponse" type="xs:string" minOccurs="0"/>
      </xs:sequence>
   </xs:complexType>
</xs:schema>